# node modules
node_modules/

# producción
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv
.env
.env.*.local

# IDEs / editores
.vscode/
.idea/

# sistema operativo
.DS_Store
Thumbs.db

# Parcel cache
.cache/

# VSCode settings
*.code-workspace

# Mac/Linux swap files
*.swp
*.swo

# TypeScript
*.tsbuildinfo
